html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.wrap{
    padding: 15px;
}

.section1{
    
}

.section2{

}

.section3{
    
}