html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.nav {
  height: 150px;
  width: 100%;
  background-color: #444444;
}

.wrapper {
  background-color: #d8d8d8;
  height: 100vh;
  padding-right: 10%;
  padding-left: 10%;
  overflow: hidden;
}
.bgBox {
  background-color: #efefef;
  height: 90vh;
}

.smBox {
  background-color: #222222;
  height: 10vh;
}
